<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-media-play" aria-hidden="true"></span> Function Tester
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documentation" Match="NavLinkMatch.All">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Documentation
            </NavLink>
        </div>
    </nav>
</div>