{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Transform" : "AWS::Serverless-2016-10-31",
  "Description" : "",
  "Parameters" : {
  },


  "Resources" : {

    "MyHelloWorld" : {
      "Type" : "AWS::Serverless::Function",
      "Properties": {
        "Handler": "ServerlessTemplateExample::ServerlessTemplateExample.Functions::HelloWorld",
        "Runtime": "dotnetcore2.1",
        "CodeUri": "",
        "Description": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": null,
        "Policies": [ "AWSLambda_FullAccess" ],
        "Environment" : {
        },
        "Events": {
        }
      }
    },
   
    "MyHelloWorldImageCommand":{ 
        "Type":"AWS::Serverless::Function",
        "Properties":{ 
        "PackageType" : "Image",
        "ImageConfig" : {
            "Command" : ["ServerlessTemplateExample::ServerlessTemplateExample.Functions::HelloWorldImageFunction"]
        },
        "ImageUri":"",
        "Description":"",
        "MemorySize":256,
        "Timeout":30,
        "Role":null,
        "Policies":[ 
            "AWSLambda_FullAccess"
        ],
        "Environment":{ 

        },
        "Events":{ 

        }
        }
    },
      
    "MyToUpper" : {
        "Type" : "AWS::Lambda::Function",
        "Properties" : {
            "Handler" : "ServerlessTemplateExample::ServerlessTemplateExample.Functions::ToUpper",            
            "Role"    : null,
            "Runtime" : "dotnetcore2.1",
            "MemorySize" : 256,
            "Timeout" : 30,
            "Code" : {}
        }
    },
    
    "MissingHandler" : {
           "Type" : "AWS::Lambda::Function",
           "Properties" : {
               "Role"    : null,
               "Runtime" : "dotnetcore2.1",
               "MemorySize" : 256,
               "Timeout" : 30,
               "Code" : {}
           }
       },
                 
    "MissingProperties" : {
           "Type" : "AWS::Lambda::Function"           
       }
  },

  "Outputs" : {

  }
}