######################################
# Visual Studio per-user settings data
######################################
*.suo
*.user

####################
# Build/Test folders
####################
**/.vs/
**/bin/
**/obj/
**/TestResults/
**/Temp/
**/NuGet.exe
**/buildlogs/
**/Deployment/
**/packages
**/launchSettings.json
**/Debug/

**/project.lock.json

**/.vscode
**/.idea
*.userprefs

**/.ionide/**

/Tools/LambdaTestTool/Amazon.Lambda.TestTool/ExternalCommands/App/**

**/node_modules/
**/TestGenerations/
/Blueprints/YeomanGenerator/generator-aws-lambda-dotnet/Blueprints/**
/Blueprints/YeomanGenerator/generator-aws-lambda-dotnet/app/manifest.js
/Tools/LambdaTestTool/Amazon.Lambda.TestTool/ExternalCommands/App
global.json

**/cdk.out/**
**/.DS_Store