{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "An AWS Serverless Application. This template is partially managed by Amazon.Lambda.Annotations (v1.8.0.0).",
  "Parameters": {
    "ArchitectureTypeParameter": {
      "Type": "String",
      "Default": "x86_64",
      "AllowedValues": [
        "x86_64",
        "arm64"
      ]
    }
  },
  "Globals": {
    "Function": {
      "Architectures": [
        {
          "Ref": "ArchitectureTypeParameter"
        }
      ],
      "Tags": {
        "aws-tests": "TestServerlessApp",
        "aws-repo": "aws-lambda-dotnet"
      }
    }
  },
  "Resources": {
    "TestQueue": {
      "Type": "AWS::SQS::Queue"
    }
  },
  "Outputs": {
    "RestApiURL": {
      "Description": "Rest API endpoint URL for Prod environment",
      "Value": {
        "Fn::Sub": "https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod"
      }
    },
    "HttpApiURL": {
      "Description": "HTTP API endpoint URL for Prod environment",
      "Value": {
        "Fn::Sub": "https://${ServerlessHttpApi}.execute-api.${AWS::Region}.amazonaws.com"
      }
    },
    "TestQueueARN": {
      "Description": "ARN of the TestQueue resource",
      "Value": {
        "Fn::GetAtt": [
          "TestQueue",
          "Arn"
        ]
      }
    }
  }
}