{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "This template is partially managed by Amazon.Lambda.Annotations (v0.9.0.0).",
  "Resources": {
    "TestServerlessAppComplexCalculatorAddGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootPost"
        ]
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestProject::TestServerlessApp.ComplexCalculator_Add_Generated::Add"
          ]
        },
        "Events": {
          "RootPost": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/ComplexCalculator/Add",
              "Method": "POST"
            }
          }
        }
      }
    },
    "TestServerlessAppComplexCalculatorSubtractGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootPost"
        ]
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestProject::TestServerlessApp.ComplexCalculator_Subtract_Generated::Subtract"
          ]
        },
        "Events": {
          "RootPost": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/ComplexCalculator/Subtract",
              "Method": "POST"
            }
          }
        }
      }
    }
  }
}