{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "This template is partially managed by Amazon.Lambda.Annotations (v1.5.0.0).",
  "Resources": {
    "GreeterSayHello": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method",
            "PayloadFormatVersion"
          ]
        }
      },
      "Properties": {
        "MemorySize": 1024,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestProject"
          ]
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "SayHello"
          }
        },
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/Greeter/SayHello",
              "Method": "GET",
              "PayloadFormatVersion": "1.0"
            }
          }
        }
      }
    },
    "GreeterSayHelloAsync": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method",
            "PayloadFormatVersion"
          ]
        }
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 50,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestProject"
          ]
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "SayHelloAsync"
          }
        },
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/Greeter/SayHelloAsync",
              "Method": "GET",
              "PayloadFormatVersion": "1.0"
            }
          }
        }
      }
    }
  }
}