{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Resources": {
    "SimpleCalculatorAdd": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "Runtime": "dotnetcore3.1",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "Handler": "TestServerlessApp::TestServerlessApp.SimpleCalculator_Add_Generated::Add",
        "Events": {
          "RootGet": {
            "Type": "Api",
            "Properties": {
              "Path": "/SimpleCalculator/Add",
              "Method": "GET"
            }
          }
        }
      }
    },
    "SimpleCalculatorSubtract": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "Runtime": "dotnetcore3.1",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "Handler": "TestServerlessApp::TestServerlessApp.SimpleCalculator_Subtract_Generated::Subtract",
        "Events": {
          "RootGet": {
            "Type": "Api",
            "Properties": {
              "Path": "/SimpleCalculator/Subtract",
              "Method": "GET"
            }
          }
        }
      }
    },
    "SimpleCalculatorMultiply": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "Runtime": "dotnetcore3.1",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "Handler": "TestServerlessApp::TestServerlessApp.SimpleCalculator_Multiply_Generated::Multiply",
        "Events": {
          "RootGet": {
            "Type": "Api",
            "Properties": {
              "Path": "/SimpleCalculator/Multiply/{x}/{y}",
              "Method": "GET"
            }
          }
        }
      }
    },
    "SimpleCalculatorDivideAsync": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "Runtime": "dotnetcore3.1",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "Handler": "TestServerlessApp::TestServerlessApp.SimpleCalculator_DivideAsync_Generated::DivideAsync",
        "Events": {
          "RootGet": {
            "Type": "Api",
            "Properties": {
              "Path": "/SimpleCalculator/DivideAsync/{x}/{y}",
              "Method": "GET"
            }
          }
        }
      }
    }
  }
}