{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "This template is partially managed by Amazon.Lambda.Annotations (v1.5.1.0).",
  "Resources": {
    "TestServerlessAppSQSEventExamplesValidSQSEventsProcessMessagesGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "queue1",
          "queue2",
          "myqueue",
          "testQueueEvent"
        ],
        "SyncedEventProperties": {
          "queue1": [
            "Queue",
            "BatchSize",
            "FilterCriteria.Filters",
            "MaximumBatchingWindowInSeconds",
            "ScalingConfig.MaximumConcurrency"
          ],
          "queue2": [
            "Queue",
            "Enabled",
            "MaximumBatchingWindowInSeconds"
          ],
          "myqueue": [
            "Queue"
          ],
          "testQueueEvent": [
            "Queue.Fn::GetAtt"
          ]
        }
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestProject::TestServerlessApp.SQSEventExamples.ValidSQSEvents_ProcessMessages_Generated::ProcessMessages"
          ]
        },
        "Events": {
          "queue1": {
            "Type": "SQS",
            "Properties": {
              "Queue": "arn:aws:sqs:us-east-2:444455556666:queue1",
              "BatchSize": 50,
              "FilterCriteria": {
                "Filters": [
                  {
                    "Pattern": "My-Filter-1"
                  },
                  {
                    "Pattern": "My-Filter-2"
                  }
                ]
              },
              "MaximumBatchingWindowInSeconds": 2,
              "ScalingConfig": {
                "MaximumConcurrency": 30
              }
            }
          },
          "queue2": {
            "Type": "SQS",
            "Properties": {
              "Queue": "arn:aws:sqs:us-east-2:444455556666:queue2",
              "Enabled": false,
              "MaximumBatchingWindowInSeconds": 5
            }
          },
          "myqueue": {
            "Type": "SQS",
            "Properties": {
              "Queue": "arn:aws:sqs:us-east-2:444455556666:my-queue"
            }
          },
          "testQueueEvent": {
            "Type": "SQS",
            "Properties": {
              "Queue": {
                "Fn::GetAtt": [
                  "testQueue",
                  "Arn"
                ]
              }
            }
          }
        }
      }
    },
    "TestServerlessAppSQSEventExamplesValidSQSEventsProcessMessagesWithBatchFailureReportingGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "queue3"
        ],
        "SyncedEventProperties": {
          "queue3": [
            "Queue",
            "FunctionResponseTypes"
          ]
        }
      },
      "Properties": {
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestProject::TestServerlessApp.SQSEventExamples.ValidSQSEvents_ProcessMessagesWithBatchFailureReporting_Generated::ProcessMessagesWithBatchFailureReporting"
          ]
        },
        "Events": {
          "queue3": {
            "Type": "SQS",
            "Properties": {
              "Queue": "arn:aws:sqs:us-east-2:444455556666:queue3",
              "FunctionResponseTypes": [
                "ReportBatchItemFailures"
              ]
            }
          }
        }
      }
    }
  }
}