@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
        <hr />
        <footer>
            <p>
                Check out the <a href="https://github.com/aws/integrations-on-dotnet-aspire-for-aws/tree/main/src/Aspire.Hosting.AWS#integrating-aws-lambda-local-development" target="_blank" rel="noopener noreferrer">Aspire + Lambda Test Tool</a> integration for a more full
                featured Lambda emulation including API Gateway emulation. @Constants.PRODUCT_NAME (@Utils.DetermineToolVersion()) is an open source project. For issues or feedback visit the <a href="@Constants.LINK_GITHUB_TEST_TOOL">AWS Lambda for .NET Core GitHub repository</a>
            </p>
        </footer>
    </div>
    
</div>

<BlazoredModal />
