<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-media-play" aria-hidden="true"></span> Test Function
            </NavLink>
            <NavLink class="nav-link" href="monitor-dlq" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="true"></span> Dead Letter Queue
            </NavLink>
            <NavLink class="nav-link" href="documentation" Match="NavLinkMatch.All">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Documentation
            </NavLink>
        </li>
    </ul>
</div>