{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "This template is partially managed by Amazon.Lambda.Annotations (v1.9.0.0).",
  "Resources": {
    "AnnotationsHttpApi": {
      "Type": "AWS::Serverless::HttpApi",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "Auth": {
          "Authorizers": {
            "HttpApiAuthorize": {
              "FunctionArn": {
                "Fn::GetAtt": [
                  "CustomAuthorizer",
                  "Arn"
                ]
              },
              "AuthorizerPayloadFormatVersion": "2.0",
              "EnableSimpleResponses": true,
              "Identity": {
                "Headers": [
                  "authorization"
                ]
              },
              "EnableFunctionDefaultPermissions": true,
              "AuthorizerResultTtlInSeconds": 0
            },
            "HttpApiAuthorizeV1": {
              "FunctionArn": {
                "Fn::GetAtt": [
                  "CustomAuthorizerV1",
                  "Arn"
                ]
              },
              "AuthorizerPayloadFormatVersion": "1.0",
              "EnableSimpleResponses": false,
              "Identity": {
                "Headers": [
                  "authorization"
                ]
              },
              "EnableFunctionDefaultPermissions": true,
              "AuthorizerResultTtlInSeconds": 0
            },
            "SimpleHttpApiAuthorize": {
              "FunctionArn": {
                "Fn::GetAtt": [
                  "SimpleAuthorizer",
                  "Arn"
                ]
              },
              "AuthorizerPayloadFormatVersion": "2.0",
              "EnableSimpleResponses": true,
              "Identity": {
                "Headers": [
                  "Authorization"
                ]
              },
              "EnableFunctionDefaultPermissions": true,
              "AuthorizerResultTtlInSeconds": 0
            }
          }
        }
      }
    },
    "AnnotationsRestApi": {
      "Type": "AWS::Serverless::Api",
      "Properties": {
        "StageName": "Prod",
        "Auth": {
          "Authorizers": {
            "RestApiAuthorize": {
              "FunctionArn": {
                "Fn::GetAtt": [
                  "RestApiAuthorizer",
                  "Arn"
                ]
              },
              "Identity": {
                "Header": "Authorization"
              },
              "FunctionPayloadType": "TOKEN",
              "AuthorizerResultTtlInSeconds": 0
            },
            "SimpleRestApiAuthorize": {
              "FunctionArn": {
                "Fn::GetAtt": [
                  "SimpleRestAuthorizer",
                  "Arn"
                ]
              },
              "Identity": {
                "Header": "Authorization"
              },
              "FunctionPayloadType": "TOKEN",
              "AuthorizerResultTtlInSeconds": 0
            }
          }
        }
      },
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      }
    },
    "ProtectedEndpoint": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method",
            "Auth.Authorizer",
            "ApiId.Ref"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet6",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "TestCustomAuthorizerApp::TestCustomAuthorizerApp.ProtectedFunction_GetProtectedData_Generated::GetProtectedData",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/protected",
              "Method": "GET",
              "Auth": {
                "Authorizer": "HttpApiAuthorize"
              },
              "ApiId": {
                "Ref": "AnnotationsHttpApi"
              }
            }
          }
        }
      }
    },
    "GetUserInfo": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method",
            "Auth.Authorizer",
            "ApiId.Ref"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet6",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "TestCustomAuthorizerApp::TestCustomAuthorizerApp.ProtectedFunction_GetUserInfo_Generated::GetUserInfo",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/user-info",
              "Method": "GET",
              "Auth": {
                "Authorizer": "HttpApiAuthorize"
              },
              "ApiId": {
                "Ref": "AnnotationsHttpApi"
              }
            }
          }
        }
      }
    },
    "HealthCheck": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method",
            "ApiId.Ref"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet6",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "TestCustomAuthorizerApp::TestCustomAuthorizerApp.ProtectedFunction_HealthCheck_Generated::HealthCheck",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/health",
              "Method": "GET",
              "ApiId": {
                "Ref": "AnnotationsHttpApi"
              }
            }
          }
        }
      }
    },
    "RestUserInfo": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method",
            "Auth.Authorizer",
            "RestApiId.Ref"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet6",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "TestCustomAuthorizerApp::TestCustomAuthorizerApp.ProtectedFunction_GetRestUserInfo_Generated::GetRestUserInfo",
        "Events": {
          "RootGet": {
            "Type": "Api",
            "Properties": {
              "Path": "/api/rest-user-info",
              "Method": "GET",
              "Auth": {
                "Authorizer": "RestApiAuthorize"
              },
              "RestApiId": {
                "Ref": "AnnotationsRestApi"
              }
            }
          }
        }
      }
    },
    "HttpApiV1UserInfo": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method",
            "PayloadFormatVersion",
            "Auth.Authorizer",
            "ApiId.Ref"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet6",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "TestCustomAuthorizerApp::TestCustomAuthorizerApp.ProtectedFunction_GetHttpApiV1UserInfo_Generated::GetHttpApiV1UserInfo",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/http-v1-user-info",
              "Method": "GET",
              "PayloadFormatVersion": "1.0",
              "Auth": {
                "Authorizer": "HttpApiAuthorizeV1"
              },
              "ApiId": {
                "Ref": "AnnotationsHttpApi"
              }
            }
          }
        }
      }
    },
    "IHttpResultUserInfo": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method",
            "Auth.Authorizer",
            "ApiId.Ref"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet6",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "TestCustomAuthorizerApp::TestCustomAuthorizerApp.ProtectedFunction_GetIHttpResult_Generated::GetIHttpResult",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/ihttpresult-user-info",
              "Method": "GET",
              "Auth": {
                "Authorizer": "HttpApiAuthorize"
              },
              "ApiId": {
                "Ref": "AnnotationsHttpApi"
              }
            }
          }
        }
      }
    },
    "NonStringUserInfo": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method",
            "Auth.Authorizer",
            "ApiId.Ref"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet6",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "TestCustomAuthorizerApp::TestCustomAuthorizerApp.ProtectedFunction_GetNonStringUserInfo_Generated::GetNonStringUserInfo",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/nonstring-user-info",
              "Method": "GET",
              "Auth": {
                "Authorizer": "HttpApiAuthorize"
              },
              "ApiId": {
                "Ref": "AnnotationsHttpApi"
              }
            }
          }
        }
      }
    },
    "CustomAuthorizer": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "Runtime": "dotnet6",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "TestCustomAuthorizerApp::TestCustomAuthorizerApp.AuthorizerFunction_HttpApiAuthorize_Generated::HttpApiAuthorize"
      }
    },
    "RestApiAuthorizer": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "Runtime": "dotnet6",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "TestCustomAuthorizerApp::TestCustomAuthorizerApp.AuthorizerFunction_RestApiAuthorize_Generated::RestApiAuthorize"
      }
    },
    "CustomAuthorizerV1": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "Runtime": "dotnet6",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "TestCustomAuthorizerApp::TestCustomAuthorizerApp.AuthorizerFunction_HttpApiAuthorizeV1_Generated::HttpApiAuthorizeV1"
      }
    },
    "SimpleHttpApiUserInfo": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method",
            "Auth.Authorizer",
            "ApiId.Ref"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet6",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "TestCustomAuthorizerApp::TestCustomAuthorizerApp.ProtectedFunction_GetSimpleHttpApiUserInfo_Generated::GetSimpleHttpApiUserInfo",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/simple-httpapi-user-info",
              "Method": "GET",
              "Auth": {
                "Authorizer": "SimpleHttpApiAuthorize"
              },
              "ApiId": {
                "Ref": "AnnotationsHttpApi"
              }
            }
          }
        }
      }
    },
    "SimpleRestApiUserInfo": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method",
            "Auth.Authorizer",
            "RestApiId.Ref"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet6",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "TestCustomAuthorizerApp::TestCustomAuthorizerApp.ProtectedFunction_GetSimpleRestApiUserInfo_Generated::GetSimpleRestApiUserInfo",
        "Events": {
          "RootGet": {
            "Type": "Api",
            "Properties": {
              "Path": "/api/simple-restapi-user-info",
              "Method": "GET",
              "Auth": {
                "Authorizer": "SimpleRestApiAuthorize"
              },
              "RestApiId": {
                "Ref": "AnnotationsRestApi"
              }
            }
          }
        }
      }
    },
    "SimpleAuthorizer": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "Runtime": "dotnet6",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "TestCustomAuthorizerApp::TestCustomAuthorizerApp.AuthorizerFunction_SimpleHttpApiAuthorize_Generated::SimpleHttpApiAuthorize"
      }
    },
    "SimpleRestAuthorizer": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "Runtime": "dotnet6",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "TestCustomAuthorizerApp::TestCustomAuthorizerApp.AuthorizerFunction_SimpleRestApiAuthorize_Generated::SimpleRestApiAuthorize"
      }
    }
  }
}