@page
@model HelpModel
@{
    ViewData["Title"] = "Help";
}
<h2>Places to Find Additional Help.</h2>

<p></p>
<ul>
    <li><a href="https://github.com/aws/aws-lambda-dotnet">AWS Lambda .NET Core GitHub Repository</a></li>
    <li><a href="https://github.com/aws/aws-sdk-net">AWS SDK for .NET GitHub Repository</a></li>
    <li><a href="https://aws.amazon.com/blogs/developer/category/net/">AWS .NET Developer Blog</a></li>
    <li><a href="https://twitter.com/dotnetonaws">.NET on AWS Twitter Handle</a></li>
    <li><a href="https://aws.amazon.com/documentation/sdk-for-net/">AWS .NET Developer Guide</a></li>
</ul>
