<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/blazored-modal.css" />
    <link rel="icon" type="image/png" href="favicon.ico" />
    <HeadOutlet />
</head>

<body>
    <div id="components-reconnect-modal" class="my-reconnect-modal components-reconnect-hide">
        <div class="show failed refused">
            <div class="center-text">
                <p>
                    @Constants.PRODUCT_NAME has paused. This can happen for the following reasons.
                    <ul>
                        <li>The attached debugger is currently on a breakpoint. The test tool will resume when execution has continued in the debugger.</li>
                        <li>The debugger or test tool process has stopped. If so, this window can be closed.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <app>
        <Routes @rendermode="Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer" />
    </app>
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
