{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Transform" : "AWS::Serverless-2016-10-31",
  "Description" : "An AWS Serverless Application.",

  "Parameters" : {
	"StubParameter" : {
	    "Type" : "String",
        "Default" : "Foo"
	}
  },

  "Resources" : {


    "LambdaRole" : {
        "Type" : "AWS::IAM::Role",
        "Properties" : {
            "ManagedPolicyArns" : [
                "arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole"
            ],
            "AssumeRolePolicyDocument" : {
                "Version" : "2012-10-17",
                "Statement" : [
                    {
                        "Action" : [
                            "sts:AssumeRole"
                        ],
                        "Effect" : "Allow",
                        "Principal" : {
                            "Service" : [
                                "lambda.amazonaws.com"
                            ]
                        }
                    }
                ]
            }
		}
    },

    "StepFunctionRole" : {
        "Type" : "AWS::IAM::Role",
        "Properties" : {
            "AssumeRolePolicyDocument" : {
              "Version": "2012-10-17",
              "Statement": [
                {
                  "Effect": "Allow",
                  "Principal": {
                    "Service": {"Fn::Join" : [ "", [ "states.", { "Ref" : "AWS::Region" }, ".amazonaws.com" ] ]}
                  },
                  "Action": "sts:AssumeRole"
                }
              ]
            },
            "Policies" : [{
                "PolicyName": "StepFunctionLambdaInvoke",
                "PolicyDocument": {
                  "Version": "2012-10-17",
                  "Statement": [
                    {
                      "Effect": "Allow",
                      "Action": [
                        "lambda:InvokeFunction"
                      ],
                      "Resource": "*"
                    }
                  ]
                }
            }]
        }
    },

    "LambdaTask" : {
        "Type" : "AWS::Lambda::Function",
        "Properties" : {
            "Handler" : "StateMachineDefinitionStringTest::StateMachineDefinitionStringTest.Functions::Processor",
            "Role"    : {"Fn::GetAtt" : [ "LambdaRole", "Arn"]},
            "Runtime" : "dotnetcore1.0",
            "MemorySize" : 256,
            "Timeout" : 30,
            "Code" : {
                "S3Bucket" : "",
                "S3Key" : ""
            }
        }
    },

    "WorkFlow" : {
        "Type" : "AWS::StepFunctions::StateMachine",
      "Properties": {
        "DefinitionString": { "Fn::Sub": "" },
        "RoleArn": { "Fn::GetAtt": [ "StepFunctionRole", "Arn" ] }
      }
    }

  },

  "Outputs" : {
  }
}