@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
        <hr />
        <footer>
            <p>@Constants.PRODUCT_NAME (@Utils.DetermineToolVersion()) is an open source project. For issues or feedback visit the <a href="https://github.com/aws/aws-lambda-dotnet/tree/master/Tools/LambdaTestTool">AWS Lambda for .NET Core GitHub repository.</a></p>
        </footer>
    </div>
    
</div>

<BlazoredModal />