@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <h1 style="padding: 15px">@Constants.PRODUCT_NAME</h1>
    <hr/>
    <div class="content px-4">
        @Body
    </div>
</div>

<BlazoredModal />