{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "An AWS Serverless Application. This template is partially managed by Amazon.Lambda.Annotations (v1.0.0.0).",
  "Parameters": {
    "ArchitectureTypeParameter": {
      "Type": "String",
      "Default": "x86_64",
      "AllowedValues": [
        "x86_64",
        "arm64"
      ]
    }
  },
  "Globals": {
    "Function": {
      "Architectures": [
        {
          "Ref": "ArchitectureTypeParameter"
        }
      ]
    }
  },
  "Resources": {
    "TestServerlessAppDynamicExampleDynamicReturnGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestExecutableServerlessApp"
          ]
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "DynamicReturn"
          }
        }
      }
    },
    "TestServerlessAppDynamicExampleDynamicInputGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestExecutableServerlessApp"
          ]
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "DynamicInput"
          }
        }
      }
    },
    "TestServerlessAppTaskExampleTaskReturnGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestExecutableServerlessApp"
          ]
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "TaskReturn"
          }
        }
      }
    },
    "TestServerlessAppVoidExampleVoidReturnGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestExecutableServerlessApp"
          ]
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "VoidReturn"
          }
        }
      }
    },
    "TestServerlessAppCustomizeResponseExamplesOkResponseWithHeaderGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ]
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestExecutableServerlessApp"
          ]
        },
        "Events": {
          "RootGet": {
            "Type": "Api",
            "Properties": {
              "Path": "/okresponsewithheader/{x}",
              "Method": "GET"
            }
          }
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "OkResponseWithHeader"
          }
        }
      }
    },
    "TestServerlessAppCustomizeResponseExamplesOkResponseWithHeaderAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ]
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestExecutableServerlessApp"
          ]
        },
        "Events": {
          "RootGet": {
            "Type": "Api",
            "Properties": {
              "Path": "/okresponsewithheaderasync/{x}",
              "Method": "GET"
            }
          }
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "OkResponseWithHeaderAsync"
          }
        }
      }
    },
    "TestServerlessAppCustomizeResponseExamplesNotFoundResponseWithHeaderV2Generated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ]
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestExecutableServerlessApp"
          ]
        },
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/notfoundwithheaderv2/{x}",
              "Method": "GET"
            }
          }
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "NotFoundResponseWithHeaderV2"
          }
        }
      }
    },
    "TestServerlessAppCustomizeResponseExamplesNotFoundResponseWithHeaderV2AsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ]
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestExecutableServerlessApp"
          ]
        },
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/notfoundwithheaderv2async/{x}",
              "Method": "GET"
            }
          }
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "NotFoundResponseWithHeaderV2Async"
          }
        }
      }
    },
    "TestServerlessAppCustomizeResponseExamplesNotFoundResponseWithHeaderV1Generated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ]
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestExecutableServerlessApp"
          ]
        },
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/notfoundwithheaderv1/{x}",
              "Method": "GET",
              "PayloadFormatVersion": "1.0"
            }
          }
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "NotFoundResponseWithHeaderV1"
          }
        }
      }
    },
    "TestServerlessAppCustomizeResponseExamplesNotFoundResponseWithHeaderV1AsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ]
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestExecutableServerlessApp"
          ]
        },
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/notfoundwithheaderv1async/{x}",
              "Method": "GET",
              "PayloadFormatVersion": "1.0"
            }
          }
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "NotFoundResponseWithHeaderV1Async"
          }
        }
      }
    },
    "GreeterSayHello": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ]
      },
      "Properties": {
        "MemorySize": 1024,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestExecutableServerlessApp"
          ]
        },
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/Greeter/SayHello",
              "Method": "GET",
              "PayloadFormatVersion": "1.0"
            }
          }
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "SayHello"
          }
        }
      }
    },
    "GreeterSayHelloAsync": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ]
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 50,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestExecutableServerlessApp"
          ]
        },
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/Greeter/SayHelloAsync",
              "Method": "GET",
              "PayloadFormatVersion": "1.0"
            }
          }
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "SayHelloAsync"
          }
        }
      }
    },
    "ToUpper": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestExecutableServerlessApp"
          ]
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "ToUpper"
          }
        }
      }
    },
    "TestServerlessAppNullableReferenceTypeExampleNullableHeaderHttpApiGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ]
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestExecutableServerlessApp"
          ]
        },
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/nullableheaderhttpapi",
              "Method": "GET"
            }
          }
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "NullableHeaderHttpApi"
          }
        }
      }
    },
    "TestServerlessAppIntrinsicExampleHasIntrinsicGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Image",
        "ImageUri": ".",
        "ImageConfig": {
          "Command": [
            "TestExecutableServerlessApp"
          ]
        },
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "HasIntrinsic"
          }
        }
      }
    },
    "ToLower": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations"
      },
      "Properties": {
        "MemorySize": 256,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "CodeUri": ".",
        "Handler": "TestExecutableServerlessApp",
        "Environment": {
          "Variables": {
            "ANNOTATIONS_HANDLER": "ToLower"
          }
        }
      }
    }
  },
  "Outputs": {
    "RestApiURL": {
      "Description": "Rest API endpoint URL for Prod environment",
      "Value": {
        "Fn::Sub": "https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod"
      }
    },
    "HttpApiURL": {
      "Description": "HTTP API endpoint URL for Prod environment",
      "Value": {
        "Fn::Sub": "https://${ServerlessHttpApi}.execute-api.${AWS::Region}.amazonaws.com"
      }
    }
  }
}