@page "/documentation"

<h1 style="padding: 15px">@Constants.PRODUCT_NAME</h1>
<hr/>

<p>
    This tool can be used to help test .NET Lambda functions for debugging application logic. Your Lambda code will run within this tool's process allowing IDEs
    attached to this tool to step through your .NET Core Lambda code. This tool runs your code similarly
    to how the AWS Lambda service would run .NET code but there are intended differences to make debugging simple, for example the host OS.
    For that reason, this testing tool cannot help with diagnosing platform specific issues.
</p>
