@page "/documentation"
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;

<PageTitle>@Constants.ProductName</PageTitle>

<h1 style="padding: 15px">@Constants.ProductName</h1>
<hr />

<p>
    Please see the README file <a href="https://github.com/aws/aws-lambda-dotnet/blob/master/Tools/LambdaTestTool-v2/README.md">here</a> for more information.
</p>

