@page "/documentation"
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;

<PageTitle>@Constants.ProductName</PageTitle>

<h1 style="padding: 15px">@Constants.ProductName</h1>
<hr />

<p>
    TODO: Rewrite documentation for V2
</p>

