<div class="tab-pane fade" id="context-input-panel" role="tabpanel" aria-labelledby="context-input-tab" style="margin-top: 10px">
    <div class="row">
        <div class="col-sm form-group">
            <label class="col-xs-3 control-label" for="function-context">Lambda Context Input:</label>
            <button type="button" class="btn btn-secondary btn-sm" onclick="onGenerateSampleLambdaContext()">Generate Sample Context</button>
            <textarea class="form-control" rows="10" id="function-context" placeholder="JSON document to pass a custome Lambda Context object. If nothing is passed, only the logger will be set. Plain strings must be wrapped in quotes."></textarea>
        </div>
    </div>
</div>