<div class="tab-pane fade" id="monitor-dlq-panel" role="tabpanel" aria-labelledby="monitor-dlq-tab" style="margin-top: 10px">
    <p>
        An Amazon SQS queue can be designated as the <a href="https://docs.aws.amazon.com/lambda/latest/dg/dlq.html">dead letter queue</a> for a Lambda function. When
        Lambda functions fail to handle an asynchronous request, like an Amazon S3 or Amazon DynamoDB Stream event, the failed request is sent to the queue.
    </p>
    <p>
        When monitoring is enabled the @Constants.PRODUCT_NAME will read the request from the queue and begin executing it within your debugging environment.
    </p>
    <div class="col-sm form-group" for="aws-dlq-queues">
        <label class="col-xs-3 control-label">Amazon SQS Queue:</label>
        <select id="aws-dlq-queues" class="form-control"></select>
        <i id="spinnerDlqQueues" class="fa fa-spinner" style="font-size: 24px; margin: 5px; visibility: hidden;"></i>
    </div>

    <div class="row mt-3">
        <div class="col-sm-9">
            <div class="form-group" id="start-monitor-div">
                <button class="btn btn-primary btn-sm" onclick="onStartMonitoring()">Start Monitoring</button>
            </div>
            <div class="form-group collapse" id="stop-monitor-div">
                <i class="fa fa-spinner fa-spin" style="font-size: 24px; margin: 5px;"></i>
                <button class="btn btn-secondary btn-sm" onclick="onStopMonitoring()">
                    Stop Monitoring
                </button>
            </div>
                <div class="alert alert-warning collapse" style="margin-left: 10px" role="alert" id="monitor-error-msg-div">
            </div>
        </div>
        <div class="form-group float-right col-sm-3" id="purge-dlq-div">
            <button class="btn btn-danger float-right btn-sm" onclick="onPurgeDlqClick()">Purge Queue</button>
        </div>
    </div>
    <div>
        <table class="table" id="dlg-log-table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Time</th>
                    <th scope="col">Logs</th>
                    <th scope="col">Error</th>
                    <th scope="col">Event</th>
                </tr>
            </thead>
            <tbody id="dlg-log-table-body">

            </tbody>
        </table>
    </div>

    <div id="dlq-expand-text-dialog" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dlq-expand-text-dialog-header"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre id="dlq-expand-text-dialog-text"></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="dlq-confirm-purge-dialog" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Purge</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete all messages from the SQS queue?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="onConfirmedPurgeDlqClick()">Ok</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>    
    
    <div id="dlq-no-queue-selected-dialog" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>There is no queue selected to perform this action.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>      
</div>

